body {
    background-color: #fcf0e5;
    color: rgb(8, 0, 0);
    font: Verdana;
}

div {
    height: 300px;
    width: 50%;
    padding: 20px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(223, 226, 223);
    padding: 10px;
}

